<!DOCTYPE html>
<html>
<head>

    <!--FOR DEV-->
    <script type="text/javascript" src="http://livejs.com/live.js"></script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>sitename</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Droid+Sans:400,700" rel="stylesheet">
    <link rel="stylesheet" href="gallery-grid.css">
</head>
<body>

    <div class="container gallery-container">
        <div style="float:left;">
            <h1>Site & Name</h1>
        </div>
        <div style="float:right;margin-top:10px">
            <ul class="nav">
                <li><a href="#about">home</a></li>
                <li><a href="#about">liste</a></li>
                <li><a href="#clients">wir</a></li>
                <li><a href="#contact">kontakt</a></li>
            </ul>
        </div>
        <div class="tz-gallery">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="images/park.jpg">
                        <img src="images/park.jpg" alt="Park">
                        <div class="overlay">
                            <div class="text">Hello World</div>
                        </div>
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="images/bridge.jpg">
                        <img src="images/bridge.jpg" alt="Bridge">
                    </a>
                </div>
                <div class="col-sm-12 col-md-4">
                    <a class="lightbox" href="images/tunnel.jpg">
                        <img src="images/tunnel.jpg" alt="Tunnel">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="images/coast.jpg">
                        <img src="images/coast.jpg" alt="Coast">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="images/rails.jpg">
                        <img src="images/rails.jpg" alt="Rails">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="images/traffic.jpg">
                        <img src="images/traffic.jpg" alt="Traffic">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="images/rocks.jpg">
                        <img src="images/rocks.jpg" alt="Rocks">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="images/benches.jpg">
                        <img src="images/benches.jpg" alt="Benches">
                    </a>
                </div>
                <div class="col-sm-6 col-md-4">
                    <a class="lightbox" href="images/sky.jpg">
                        <img src="images/sky.jpg" alt="Sky">
                    </a>
                </div>
            </div>
        </div>

        <div class="footer">
            <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons Lizenzvertrag" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" /></a><br />Dieses Werk ist lizenziert unter einer <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Namensnennung 4.0 International Lizenz</a>.
            <br /><br />made with gavii
        </div>
    </div>
</body>
</html>